// Specific CSS for your home-page
.textheader {
  text-align: center;
  padding-top: 100px;
}

.banner {
  width:100%;
  height:400px;
}

.headertitle {
  padding: 25px;
}


.btn-warning {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  margin: 15px;
  color:white;
  text-align:center;
}

.container-button {
  text-align: center;
}
