// Specific CSS for your home-page
.textheader {
  text-align: center;
  padding-top: 100px;
}

.banner {
  width:100%;
  height:400px;
}

.headertitle {
  padding: 25px;
}

.input-group {
  width: 256px;
}

.input-group-text {
  background-color: #EA9143;
}

.btn-warning {
  width: 200px;
  height: 38px;
  border-radius: 5px;
  margin: 15px;
  color:white;
  text-align:center;
}

.container-button {
  text-align: center;
  align-items: center;
}

.buttoncontainer {
  justify-content: space-around;
}

.nav-link-delete {
  border:0px;
  background-color: transparent;
}
