<%# <div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>My Pet</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div> %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://petdelicia.com.br/blog/wp-content/uploads/2020/05/Captura-de-Tela-2020-05-28-a%CC%80s-00.23.33.png);">
  <div class="container">
    <h1><strong> My Pet!</strong></h1>
    <p> Book a pet (because why not?) and register your own pet in the market!</p>
  </div>
</div>
