 <div class="row">
      <% @pets.each do |pet| %>
        <div class="co-12 col-sm-6 col-md-4 mb-3">
          <%= link_to pet_path(pet), class:"text-decoration-none" do %>
            <div class="card-category" data-aos="zoom-in" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_cloudinary(pet) %>)'>
              <%= pet.name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
     <%= link_to "Back to pets", pets_path, :class=>"btn btn-warning btn-rounded btn-show"%>
     
