<h1>bookings</h1>
<div class="container">

    <body>
      <form>
        <br>
        <br>
        Start Date: <input type = "date"><button type="submit" name="btn">Submit</button>
      </form>
      <form>
        <br>
        <br>
        End Date: <input type = "date"><button type="submit" name="btn">Submit</button>
      </form>
      <br>
      <br>
</div>
<p>inserir botão: Confirm Booking</p>

<%= link_to "Back to pet", pet_path(@pet), :class=>"btn btn-warning btn-rounded btn-show"%>
<%= link_to "Search other pet", pets_path, :class=>"btn btn-warning btn-rounded btn-show"%>

</body>
