    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-photo/group-portrait-adorable-puppies_53876-64778.jpg);">
      <h1 class="headertitle">Welcome to My Pet!!</h1>
        <p>Ever felt like you needed a pet companion on the go?</p>
    </div>
    <div class="container" >
      <div class="row">
          <div class="container-button flex-direction:column">
              <p class ="textheader"> MyPet is here to provide you with one! You can find the furry friend you are looking for, or you can put up your animal buddy
              for renting, allowing your pet to travel with new friends and providing lonely people with a good time! </p>
                  <a href="/pets" button type="button" class="btn btn-warning btn-rounded align-self-center">Find your pet here!</a>
          </div>
        </div>
    </div>
